<div class="header">
    <h1>Документы и бланки онлайн</h1>
    <li>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'profile' %}">Личный кабинет</a>
        <a href="{% url 'check' %}">Документы</a>
        <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    </li>
</div>