.clients-block{
    background: #30c0c8;
    color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #679396;
    margin: 10px;
    /* max-width: 420px; */
    width: 40%;
}

.clients-container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.clients-block-name{
    font-size: 40px;
    margin: 0px;
}


.find-create{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px;
}