{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Счет</title>
</head>
<body>
{% include 'header.html' %}
    <form method="post">
        {% csrf_token %}
        <p> Счет на оплату №{{form_check.check_num}} от {{form_check.check_date}}</p>
        <div>
            <h1>Информация об организации</h1>
                <p>{{form_org_info.org_name.label_tag}}{{form_org_info.org_name}}</p>
                <p>{{form_org_info.INN_number.label_tag}}{{form_org_info.INN_number}}</p>
                <p>{{form_org_info.KPP.label_tag}}{{form_org_info.KPP}}</p>
                <p>{{form_org_info.OGRN.label_tag}}{{form_org_info.OGRN}}</p>
                <p>{{form_org_Con.phone.label_tag}}{{form_org_Con.phone}}</p>
                <p>{{form_org_Con.fax.label_tag}}{{form_org_Con.fax}}</p>
                <p>{{form_org_DL.position_boss.label_tag}}{{form_org_DL.position_boss}}</p>
                <p>{{form_org_DL.name_boss.label_tag}}{{form_org_DL.name_boss}}</p>
                <p>{{form_org_DL.name_buh.label_tag}}{{form_org_DL.name_buh}}</p>
            <h1>Банковские реквизиты организации</h1>
                <p>{{form_org_bank.bank_name.label_tag}}{{form_org_bank.bank_name}}</p>
                <p>{{form_org_bank.bank_adress.label_tag}}{{form_org_bank.bank_adress}}</p>
                <p>{{form_org_bank.KS.label_tag}}{{form_org_bank.KS}}</p>
                <p>{{form_org_for_bank.RS.label_tag}}{{form_org_for_bank.RS}}</p>
        </div>
        <div>
            <h1>Покупатель</h1>
            <p>{{form_counter.type.label_tag}}{{form_counter.type}}</p>
            <p>{{form_buy_info.org_name.label_tag}}{{form_buy_info.org_name}}</p>
            <p>{{form_buy_info.INN_number.label_tag}}{{form_buy_info.INN_number}}</p>
            <p>{{form_buy_info.KPP.label_tag}}{{form_buy_info.KPP}}</p>
            <p>{{form_buy_info.OGRN.label_tag}}{{form_buy_info.OGRN}}</p>
            <p>{{form_buy_Con.phone.label_tag}}{{form_buy_Con.phone}}</p>
            <p>{{form_buy_Con.fax.label_tag}}{{form_buy_Con.fax}}</p>
            <h1>Банковские реквизиты покупателя</h1>
            <p>{{form_buy_bank.bank_name.label_tag}}{{form_buy_bank.bank_name}}</p>
            <p>{{form_buy_bank.bank_adress.label_tag}}{{form_buy_bank.bank_adress}}</p>
            <p>{{form_buy_bank.KS.label_tag}}{{form_buy_bank.KS}}</p>
            <p>{{form_buy_for_bank.RS.label_tag}}{{form_buy_for_bank.RS}}</p>
        </div>
        <div>
            <h1>Грузополучатель</h1>
            <p>{{form_consignee.consignee_status}}</p>
            <p>{{form_cons_info.org_name.label_tag}}{{form_cons_info.org_name}}</p>
            <p>{{form_cons_info.INN_number.label_tag}}{{form_cons_info.INN_number}}</p>
            <p>{{form_cons_info.KPP.label_tag}}{{form_cons_info.KPP}}</p>
            <p>{{form_cons_info.OGRN.label_tag}}{{form_cons_info.OGRN}}</p>
            <p>{{form_cons_Con.phone.label_tag}}{{form_cons_Con.phone}}</p>
            <p>{{form_cons_Con.fax.label_tag}}{{form_cons_Con.fax}}</p>
        </div>
        <div>
            <h1>Дополнительно</h1>
            <p>{{form_additionally.Purpose.label_tag}}{{form_additionally.Purpose}}</p>
            <p>{{form_additionally.Payfor.label_tag}}{{form_additionally.Payfor}}</p>
            <p>{{form_additionally.Agreement.label_tag}}{{form_additionally.Agreement}}</p>
            <p>{{form_NDS.nds_stavka}}</p>
            <p>{{form_NDS.nds_status}}</p>
            <p>{{form_additionally.additionally_status.label_tag}}{{form_additionally.additionally_status}}</p>
            <p>{{form_additionally.currency.label_tag}}{{form_additionally.currency}}</p>
            <p>{{form_additionally.discount_fact.label_tag}}{{form_additionally.discount_fact}}</p>
            <p>{{form_additionally.discount_size}}</p>
        </div>
        <div>
            <table>
              <thead>
                <tr>
                <th>{{form_goods.g_name.label_tag}}</th>
                <th>{{form_goods.g_codedig.label_tag}}</th>
                <th>{{form_goods.g_codename.label_tag}}</th>
                <th>{{form_goods.g_count.label_tag}}</th>
                <th>{{form_goods.g_price.label_tag}}</th>
                <th>{{form_goods.g_discount.label_tag}}</th>
                <th>{{form_goods.g_discountPrice.label_tag}}</th>
                <th>{{form_goods.g_SumNoDiscountPrice.label_tag}}</th>
                <th>{{form_goods.g_SumDiscountPrice.label_tag}}</th>
                
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{form_goods.g_name}}</td>
                <td>{{form_goods.g_codedig}}</td>
                <td>{{form_goods.g_codename}}</td>
                <td>{{form_goods.g_count}}</td>
                <td>{{form_goods.g_price}}</td>
                <td>{{form_goods.g_discount}}</td>
                <td>{{form_goods.g_discountPrice}}</td>
                <td>{{form_goods.g_SumNoDiscountPrice}}</td>
                <td>{{form_goods.g_SumDiscountPrice}}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <button type="submit">Сохранить</button>
    </form>
</body>
</html>