.header{
    display: flex;
    justify-content: space-between;
    background: #3999c3fc;
    padding: 0px 15px 0px 15px;
}

.header-link {
  margin-left: 10px;
}

.block-login{
color: white;
font-size: 20px;
}

.header-h1{
    color: white;
}
