{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="UTF-8">
    <title>Контрагенты</title>
</head>
<body>
    {% include 'header.html' %}
    <form method="post">
        {% csrf_token %}
    <select id="counterparty-type">
        <option value="">-- Выбрать --</option>
        <option value="org">Организация</option>
        <option value="ind">Частное лицо</option>
    </select>
    <select id="counterparty-names">
        <option value="">-- Сначала выберите тип --</option>
    </select>

    <h1>Информация о контрагенте</h1>
    {{clientF.type.label_tag}} {{clientF.type}}
    <div id="org-fields">
        <div>{{ formO.IP_fact.label_tag }}{{ formO.IP_fact}}</div>

            {{formO.org_name.label_tag}} {{ formO.org_name }}
            {{formO.all_name.label_tag}} {{ formO.all_name }}
            {{formO.INN_number.label_tag}} {{ formO.INN_number }}
            {{formO.OKPO_code.label_tag}} {{ formO.OKPO_code }}
            {{formO.OKVED.label_tag}} {{ formO.OKVED }}
            {{formO.org_adress.label_tag}} {{ formO.org_adress }}
            {{formO.OGRN.label_tag}} {{ formO.OGRN }}
        <div id="kpp-field">
            {{formO.KPP.label_tag}} {{ formO.KPP }}
        </div>
    </div>

    <div id="ind-fields" style="display: none;">
            {{ formP.as_p }}
    </div>

    <h1>Банковские реквизиты контрагента</h1>
        {{ bform.as_p }}
        {{obform.RS.label_tag}} {{ obform.RS }}

        {{ obform.management_form }}
        {% for hidden in obform.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    <h1>Контактная информация</h1>
        {{ formC.as_p }}

        {{formD.position_boss.label_tag}} {{ formD.position_boss }}
        {{formD.name_boss.label_tag}} {{ formD.name_boss }}
        {{formD.name_buh.label_tag}} {{ formD.name_buh }}
        {{formD.name_kass.label_tag}} {{ formD.name_kass }}
        {{clientF.USL_name.label_tag}} {{clientF.USL_name}}
        <button type="submit">Сохранить</button>
    </form>
    <script src="{% static 'js/autostate.js' %}"></script>
    <script src="{% static 'js/IPKPP.js' %}"></script>
    <script src="{% static 'js/priv_org.js' %}"></script>
</body>
</html>