{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/baseform.css' %}">
</head>
<body>
{% include 'header.html' %}
<h1 class = 'main-header'>Вход</h1>
<div class = 'boxie'>
<form method="POST">
    {% csrf_token %}
    <p class = 'form-fieldc'><label>Логин</label> {{form.username}}</p>
    <p class = 'form-fieldc'><label>Пароль</label> {{form.password}}</p>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class = 'reglog_butt'>
    <button type="submit" class = 'add_button'>Войти</button>
    <p><label>Нет аккаунта?</label>   <a href="{% url 'register' %}"><button class = 'add_button'>Зарегистрируйтесь</button></a></p>
</div>
</form>
</div>
</body>
</html>