{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Организации</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/baseform.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1 class = 'main-header'><a  href = "{% url 'profile' %}">Личный кабинет</a> -> <a  href = "{% url 'org' %}"> Организации</a> -> {% if is_edit %} Редактировать организацию {% else %} Добавить новую организацию {% endif %}</h1>
<form method="post">
        {% csrf_token %}
    <div class = 'boxie'>
        <h1 class="counter_name">Информация о организации</h1>
        <div>
            <p>{{ formO.IP_fact.label_tag }}{{formO.IP_fact}}</p>
            <p class = 'form-fieldc'>{{formO.org_name.label_tag}}{{formO.org_name }}</p>
            <p class = 'form-fieldc'>{{formO.all_name.label_tag}}{{formO.all_name }}</p>
            <p class = 'form-fieldc'>{{formO.INN_number.label_tag}}{{formO.INN_number }}</p>
            <p class = 'form-fieldc'>{{formO.OKPO_code.label_tag}}{{formO.OKPO_code }}</p>
            <p class = 'form-fieldc'>{{formO.OKVED.label_tag}}{{formO.OKVED }}</p>
            <p class = 'form-fieldc'>{{formO.org_adress.label_tag}}{{formO.org_adress }}</p>
            <p class = 'form-fieldc'>{{formO.OGRN.label_tag}}{{ formO.OGRN }}</p>
            <p class = 'form-fieldc' id="kpp-field">{{formO.KPP.label_tag}}{{ formO.KPP }}</p>
        </div>
    </div>
    
    <div class = 'boxie'>
        <h1 class="counter_name">Банковские реквизиты</h1>
        <div id="bank-forms">
            {{ bformset.management_form }}
            {{ obformset.management_form }}

            {% for form_b, form_ob in bank_pairs %}
            <div class="bank-form">
                {{ form_b.id }}
                <p class = 'form-fieldc'>{{form_b.bank_name.label_tag}}{{form_b.bank_name}}</p>
                <p class = 'form-fieldc'>{{form_b.bank_adress.label_tag}}{{form_b.bank_adress}}</p>
                <p class = 'form-fieldc'>{{form_b.KS.label_tag}}{{form_b.KS}}</p>
                {{ form_ob.id }}
                <p class = 'form-fieldc'>{{form_ob.RS.label_tag}}{{form_ob.RS}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class = 'butt-add-0'><button type="button" id="add-bank" class = 'add_button'>+ Добавить расчетный счет</button></div>
    <div class = 'boxie'>
        <h1 class="counter_name">Должностные лица</h1>
        <p class = 'form-fieldc'>{{formD.position_boss.label_tag}} {{ formD.position_boss }}</p>
        <p class = 'form-fieldc'>{{formD.name_boss.label_tag}} {{ formD.name_boss }}</p>
        <p class = 'form-fieldc'>{{formD.name_buh.label_tag}} {{ formD.name_buh }}</p>
        <p class = 'form-fieldc'>{{formD.name_kass.label_tag}} {{ formD.name_kass }}</p>
    </div>
   
    <div class = 'boxie'>
        <h1 class="counter_name">Контактная информация</h1>
            <p class = 'form-fieldc'>{{formC.phone.label_tag}}{{ formC.phone }}</p>
            <p class = 'form-fieldc'>{{formC.fax.label_tag}}{{ formC.fax }}</p>
            <p class = 'form-fieldc'>{{formC.email.label_tag}}{{ formC.email }}</p>
            <p class = 'form-fieldc'>{{formC.vebsite.label_tag}}{{ formC.vebsite }}</p>
    </div>    
    <div class = 'boxie'>
        <h1 class="counter_name"> НДС</h1>
        <div class="select-one">{{ formN.nds_stavka }}</div>
        <p class = 'form-fieldc'>{{ formN.nds_status }}</p>
    </div>
    
    <div class = 'boxie'>
        <h1 class="counter_name">Настройки для частных лиц</h1>
        <p class = 'form-fieldc'>{{ formP.priv_name.label_tag}} {{ formP.priv_name }}</p>
        <p class = 'form-fieldc'>{{ formP.priv_adress.label_tag}} {{ formP.priv_adress }}</p>
        <p class = 'form-fieldc'>{{ formP.passport.label_tag}} {{ formP.passport }}</p>
        <p class = 'form-fieldc'>{{ formP.Who_gave.label_tag}} {{ formP.Who_gave }}</p>
        <p class = 'form-fieldc'>{{ formP.DATE_gave.label_tag}} {{ formP.DATE_gave }}</p>
        <p class = 'form-fieldc'>{{ formOrg.management_form }}</p>
        {% for hidden in formOrg.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </div>
        <div class ='butt-add-0'><button type="submit" class = 'add_button'>Сохранить</button></div>
</form>

    <script src="{% static 'js/IPKPP.js' %}"></script>
    <script src="{% static 'js/clone.js' %}"></script>
</body>
</html>